<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.winnerawan.androidx">

    <application android:allowBackup="true"
                 android:name="net.winnerawan.androidx.AndroidX"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">

        <activity android:name="net.winnerawan.androidx.ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="net.winnerawan.androidx.ui.main.MainActivity"/>
        <activity android:name="net.winnerawan.androidx.ui.detail.DetailActivity"/>
        <activity android:name=".ui.chart.ChartActivity"/>

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="bff4848b3ed3df68b8971fa1cb1fab790ba7cccc" />
        <service android:name=".notification.HelbMessagingService"/>
        <service android:name=".notification.HelbFirebaseInstanceIDService"/>
    </application>
</manifest>
